<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Burgers</title>
<link rel="stylesheet" href="./assets/css/main.css">
			<link rel="icon" sizes="40x40" href="/burger/public/image/burger.jpg">

		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/burger/models/burger.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
